<ion-header>
  <ion-navbar>
    <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
     </button>
    <ion-title text-center>
      Carteira de Investimentos
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <div class="jumbotron" *ngIf="!auth.authenticated()">
    <h1>Gestão de Carteira</h1>
    <p>
      Adminsitração de sua carteira de investimentos. Adotando estratégias para operações em renda fixa e variável.
    </p>
    <hr>
    <p>
      Começe a gerenciar seus investimentos.
      <button ion-button (click)="auth.login()">Login</button>
    </p>
  </div>

  <div *ngIf="auth.authenticated()">
    <page-lista-entrada></page-lista-entrada>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>

    <ion-list>
      <ion-item>
        <ion-avatar item-left>
          <img src="{{usuario?.picture}}">
        </ion-avatar>
        <h2>{{usuario?.name}}</h2>
        <h3>Cartiera de Investimentos</h3>        
      </ion-item>
    </ion-list>

    <ion-buttons end>
      <button ion-button icon-right color="royal" (click)="auth.login()" *ngIf="!auth.authenticated()">
        Login
        <ion-icon name="log-in"></ion-icon>
      </button>
      <button ion-button icon-right color="royal" (click)="auth.logout()" *ngIf="auth.authenticated()">
        Logout
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>