page-home {
    .jumbotron{
        padding-top: 48px;
        padding-bottom: 48px;
        padding: 30px;
        margin-bottom: 30px;
        font-size: 14px;
        font-weight: 200;
        line-height: 2.1428571435;
        color: inherit;
        background-color: #f7f7f7;
    }

}
