<ion-header>
  <ion-navbar>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>
      Formula Mágica
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <!--<ion-grid text-center>
    <ion-row>
      <ion-col col-2>Rank</ion-col>
      <ion-col col-4>Papel</ion-col>
      <ion-col col-2>P/L</ion-col>
      <ion-col col-2>P/VP</ion-col>
      <ion-col col-2>ROE</ion-col>
    </ion-row>
    <ion-row *ngFor="let a of papeisTop5">
      <ion-col col-1>{{a.rank}}</ion-col>
      <ion-col col-4>{{a.papel}}</ion-col>
      <ion-col col-2>{{a?.fundamento.p_l}}</ion-col>
      <ion-col col-2>{{a?.fundamento.p_vp}}</ion-col>
      <ion-col col-2>{{a?.fundamento.roe}}</ion-col>
    </ion-row>    
  </ion-grid>-->

  <!--<table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Rank</th>
        <th>Papel</th>
        <th>P/L</th>
        <th>P/VP</th>
        <th>ROE</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of papeisTop5;">
        <th scope="row">{{p.rank}}</th>
        <td><a href="http://fundamentus.com.br/detalhes.php?papel={{p.papel}}" target="blank" data-toggle="tooltip" title="{{p.nome}}"> {{p.papel}}</a></td>
        <td>{{p?.fundamento.p_l}}</td>
        <td>{{p?.fundamento.p_vp}}</td>
        <td>{{p?.fundamento.roe}}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="5"></td>
      </tr>
    </tfoot>
  </table>-->

  <ion-card>
    <ion-card-header>
      Top 5 Ações para Investir
    </ion-card-header>
  </ion-card>

  <ion-card *ngFor="let p of papeisTop5">
    <ion-card-header>
      <span>Papel: {{p.papel}}</span>
    </ion-card-header>

    <ion-card-content>
      <table>
        <thead>
          <tr>
            <th>Rank</th>
            <th>P/L</th>
            <th>P/VP</th>
            <th>ROE</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{p.rank}}</td>
            <td>{{p?.fundamento.p_l}}</td>
            <td>{{p?.fundamento.p_vp}}</td>
            <td>{{p?.fundamento.roe}}</td>
          </tr>
        </tbody>
      </table>
    </ion-card-content>

  </ion-card>
</ion-content>